<section class="py-16 bg-gray-50">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center mb-12 text-black">¿Qué ofrece ZooTracker?</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold mb-4 text-black">Gestión de Animales</h3>
          <p class="text-gray-700">Registra y organiza la información de tus animales de manera eficiente.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold mb-4 text-black">Registro de Eventos y Tiempos</h3>
          <p class="text-gray-700">Lleva un control detallado de los eventos y tiempos relacionados con tus animales.</p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold mb-4 text-black">Reportes Automatizados</h3>
          <p class="text-gray-700">Genera reportes en tiempo real y toma decisiones basadas en datos.</p>
        </div>
      </div>
    </div>
  </section>